<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>WASM</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #222;
        }
        div.err_div {
            font-family: Arial, Sans-Serif;
            color: rgba(255, 255, 255, 0.5);
            line-height: 1.5rem;
            text-align: center;
            height: 100%;
        }
        a {
            padding-bottom: 1px;
            color: #fff;
            text-decoration: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            -webkit-transition: border-color 0.1s ease-in;
            transition: border-color 0.1s ease-in;
        }
        a:hover {
            border-bottom-color: #fff;
        }
    </style>
</head>

<body>
    <div class="emscripten_border">
        <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
    </div>
    <script>
        const Module = {
            noImageDecoding: true,
            noAudioDecoding: true,
            preRun: [],
            postRun: [],
            print: (() => {
                return (text) => {
                    console.log(text)
                }
            })(),
            printErr(text) {
                console.error(text)
            },
            canvas: (() => {
                const canvas = document.getElementById('canvas')

                if (!canvas.getContext('webgl2')) {
                    const err_div = document.createElement('div')
                    err_div.innerHTML = `<h1>Sorry!</h1><br>This page requires WebGL 2, which this browser currently doesn't support.<br>Find one that does <a href="https://caniuse.com/#feat=webgl2">here</a>!`
                    err_div.className = 'err_div'
                    document.body.appendChild(err_div)
                }

                canvas.addEventListener('webglcontextlost', (e) => {
                    alert('WebGL context lost.')
                    e.preventDefault()
                }, false)
                return canvas
            })(),
            setStatus(text) {
                console.log(text)
            },
            monitorRunDependencies(left) {
                Module.setStatus(`monitorRunDependencies: ${left}`)
            }
        }
        window.onerror = () => {
            Module.setStatus = (text) => {
                if (text) Module.printErr('[post-exception status] ' + text)
            }
        }
    </script>
    {{{ SCRIPT }}}
</body>

</html>